# MLflow local
mlruns/
mlflow.log

# Logs de ejecucion
run.log
nohup.out

# Artefactos de entrenamiento
modelos_mnist/
*.keras
*.h5
*.csv

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
env/

# Secretos (NUNCA subir tokens)
.env
*token*
